/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-design {
  color: #111111;
}

.font-copy {
  color: #3B424B;
}

a:not(.nav) {
		color : #3498DB;
		text-decoration: underline;
		padding: 2px;
	}


a:focus {
  outline: none;
  background: #efefef;
}