@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  touch-action: pan-y;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

blockquote {
  font-style: normal !important;
}

dl,
dd,
h1 {

  padding-top: .5rem !important;
  padding-bottom: .25rem !important;
}

h2 {
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
}

h3,
h4,
h5,
h6,
hr {
  margin-bottom: 1rem !important;
}

figure,
p,
pre {
  margin: 0;
}