/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-design {
  color: #111111;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

}

.font-copy {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
  color: #3B424B;
}

a:not(.nav) {
  color : #3740ff;
  text-decoration: underline;
  padding: 2px;
}

a:focus:not(.nav) {
  outline: none;
  background: #efefef;
}
